.cache
site/node_modules
site/yarn-error.log
node_modules
# Build directory
site/public
site/.DS_Store

############################
# OS X
############################

api/.DS_Store
api/.AppleDouble
api/.LSOverride
api/Icon
api/.Spotlight-V100
api/.Trashes
api/._*


############################
# Linux
############################

api/*~


############################
# Windows
############################

api/Thumbs.db
api/ehthumbs.db
api/Desktop.ini
api/$RECYCLE.BIN/
api/*.cab
api/*.msi
api/*.msm
api/*.msp


############################
# Packages
############################

api/*.7z
api/*.csv
api/*.dat
api/*.dmg
api/*.gz
api/*.iso
api/*.jar
api/*.rar
api/*.tar
api/*.zip
api/*.com
api/*.class
api/*.dll
api/*.exe
api/*.o
api/*.seed
api/*.so
api/*.swo
api/*.swp
api/*.swn
api/*.swm
api/*.out
api/*.pid


############################
# Logs and databases
############################

api/.tmp
api/*.log
api/*.sql
api/*.sqlite
api/*.sqlite3


############################
# Misc.
############################

api/*#
api/ssl
api/.idea
api/nbproject


############################
# Node.js
############################

api/lib-cov
api/lcov.info
api/pids
api/logs
api/results
api/node_modules
api/.node_history


############################
# Tests
############################

api/testApp
api/coverage