.home--section {
  &-project {
    ul {
      margin: 0;
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      li{
        width: 100%;
        @media (min-width:768px){
          width: calc(50% - 20px);
        }
        @media (min-width: 1000px){
          width: calc(33.3333% - 20px);
        }
        .image--wrap{
          width: 100%;
          .image{
            padding-top: 67%;
            background-size: cover;
          }
        }
      }
    }
  }
}