@font-face {
  font-family: 'Avenir Next Bold';
  font-weight: 900;
  src: url('./fonts/AvenirNext-Heavy.woff2') format('woff2'),
    url('./fonts/AvenirNext-Heavy.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Next';
  font-weight: 400;
  src: url('./fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
    url('./fonts/AvenirNextLTPro-Regular.woff') format('woff');
}

body {
  font-family: 'Avenir Next';
  font-weight: 400;
  font-size: calc(17.5 / 16 * 1rem);
}

.page--title {
  font-family: 'Avenir Next Bold';
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
  color: black;
  letter-spacing: 0.178rem;
  font-size: calc(3.6rem + 0.525vw);

  &.hello {
    text-indent: -8px;
  }

  .blink {
    color: red;
  }

  @media (min-width:768px) {
    font-size: calc(4rem + 0.525vw);

    &.hello {
      font-size: calc(6rem + 0.525vw);
    }
  }

  @media (min-width:1000px) {
    &.hello {
      font-size: calc(9rem + 0.525vw);
    }

    font-size: calc(6rem + 0.525vw);

  }
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 60px;

  @media (min-width: 768px) {
    padding: 0 20px;
  }
}

.site--brand {
  margin: 0;
  font-family: 'Avenir Next';
  font-weight: 400;
  letter-spacing: 0.125rem;

  a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: black;
  }
}

.page {
  padding-top: 2.6rem;
  padding-bottom: 2.6rem;

  @media (min-width: 768px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}